# Configuration file

####################
# armor
####################

armor {
    ####################
    # item_simplyjetpacks_jetpackTier4
    ####################

    item_simplyjetpacks_jetpackTier4 {
        I:01.ID=31735
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # item_simplyjetpacks_jetpackTier3
    ####################

    item_simplyjetpacks_jetpackTier3 {
        I:01.ID=31736
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # item_simplyjetpacks_jetpackTier2
    ####################

    item_simplyjetpacks_jetpackTier2 {
        I:01.ID=31737
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    ####################
    # item_simplyjetpacks_jetpackTier1
    #===================
    # 
    ####################

    item_simplyjetpacks_jetpackTier1 {
        I:01.ID=31738
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


####################
# blocks
####################

blocks {
}


####################
# entity
####################

entity {
}


####################
# items
####################

items {
}


